@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'roboto';
}

body {
    width: 1280px;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(45deg, #E94F37, #fffc31);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
}

div {
    display: grid;
    gap: 5px;
}

.container {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1% 5%;
}

button {
    padding: 2px 50px;
    background-color: #5C415D;
    color: wheat;
}

span {
    font-weight: bolder;
}