* {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    width: 1280px;
    margin: 0 auto;
    background-image: linear-gradient(45deg, #E94F37, #fffc31);
    
}

div {
    margin: 30.9%;
    display: grid;
    justify-items: center;
    justify-content: center;
}

input {

}

button {
    padding: 2px 50px;
    background-color: #5C415D;
    color: wheat;
}
